<div class="sign-up">

  <div class="title-container">
    <span class="title"> <span class="color-title">WebChat</span> Brazpine</span>
  </div>
  <div class="signup-card">
    <div class="title-section"></div>
    <div class="form">
      <div class="form-input">
        <input [(ngModel)]="signup.name" type="text" id="name" placeholder="Your name here">
        <label for="name">Name</label>
      </div>
      <div class="form-input">
        <input [(ngModel)]="signup.nickname" type="text" id="nick" placeholder="Your nick here">
        <label for="nick">Nickname</label>
      </div>
      <div class="form-input">
        <input [(ngModel)]="signup.password" type="password" id="pass" placeholder="Your pass here">
        <label for="pass">Password</label>
      </div>
      <div class="form-input">
        <input [(ngModel)]="signup.rePassword" type="password" id="re-pass" placeholder="Your pass here">
        <label for="re-pass">Rewrite Password</label>
      </div>
      <div class="form-input">
        <input [(ngModel)]="signup.birthday" type="date" id="date" placeholder="Your birthday here">
        <label for="date">Birthday</label>
      </div>

      <div class="checkbox">
        <input [(ngModel)]="signup.isAdmin" type="checkbox" id="admin">
        <label for="admin">Are you admin?</label>
      </div>
      <button (click)="onClickSignUp()">Sign Up</button>
    </div>
    <a [routerLink]="['']">Already have an account? Sign in</a>
  </div>
</div>
<app-alert [alert]="alert" [onClose]="closeAlert" *ngIf="alert"></app-alert>