<div class="background">
  <div class="cards">
    <div [className]="firstCardClassname">
      <label>
        Name
        <input type="text">
      </label>
      <label>
        Nickname
        <input type="text">
      </label>
      <label>
        Password
        <input type="password">
      </label>
      <label>
        Repeat Password
        <input type="password">
      </label>
      <button (click)="onClickToSecondCard()">Next</button>
    </div>

    <div [className]="secondCardClassname">
    </div>


  </div>
</div>