html,body,app-root {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

@font-face {
    font-family: 'KaushanScript';
    src: url('src/assets/resources/fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('src/assets/resources/fonts/Roboto/Roboto-Regular.ttf');
}