<div class="sign-in">
  <span class="title"> <span class="color-title">WebChat</span> Brazpine</span>

  <div class="login-card">
    <form>
      <div class="form-input">
        <input type="text" id="nick" placeholder="Your nick here">
        <label for="nick">Nickname</label>
      </div>
      <div class="form-input">
        <input type="password" id="pass" placeholder="Your pass here">
        <label for="pass">Password</label>
      </div>
      <button>Sign In</button>
    </form>
    <a [routerLink]="['signup']">Don’t have an account? Sign up</a>
  </div>
</div>